<%= render "shared/canvas", resource: @student%>

<header class='top-page-header'>
  <div class='search-bar-contents'>
   <div class="icon-box">
    <%= link_to image_tag('cuota-sample.png', class:"cuota-icon"), "/" %>
   </div> 
  </div>
    <div class="notice">
      <%= flash[:notice] %>
    </div>
    <div class="notice">
      <% if @student_counts.instance_of?(Array) %>
      <ul> 
       <% @student_counts.each do |error| %> 
         <% error[:messages].each do |message| %> 
           <li><%= "#{error[:row_num]}行目：#{message}" %></li><br>
         <% end %> 
       <% end %> 
       </ul>
      <% end %> 
    </div>
  <h1>生徒一括登録</h1>
  <div class="box-student-csv">
    <div class="box-inner">
      <h5>csvファイルから生徒情報を読み込みます。</h5>
       <div class="csv-mandatory">
        <ul class="mandatory-item">必須項目
       </div>
          <div class="mandatory-item-details">
            <li>・姓</li><li>苗字 ※全角</li>
          </div>
          <div class="mandatory-item-details">
            <li>・名</li><li>名前 ※全角</li>
          </div>
          <div class="mandatory-item-details">
            <li>・セイ</li><li>苗字(フリガナ) ※全角カタカナ</li>
          </div>
          <div class="mandatory-item-details">
            <li>・メイ</li><li>名前(フリガナ) ※全角カタカナ</li>
          </div>
          <div class="mandatory-item-details">
            <li>・学年</li><li> ※半角数字</li>
          </div>
          <div class="mandatory-item-details">
            <li>・クラス</li><li> ※半角数字</li>
          </div>
          <div class="mandatory-item-details">
            <li>・出席番号</li><li> ※半角数字</li>
          </div>
          <div class="mandatory-item-details">
            <li>・性別</li><li>性別(男子:1,女子:2) ※半角数字</li>
          </div>
          <div class="mandatory-item-details">
            <li>・学校</li><li>学校ID<%= "(#{@nursing_teacher.school_id})" %> ※半角数字</li>
          </div>
          <div class="mandatory-item-details">
            <li>・先生</li><li>先生ID<%= "(#{@nursing_teacher.id})" %> ※半角数字</li>
          </div>
        </ul>
        <h6>※カラム名は必ず上記左の名称で統一してください。<br>
        ※カラム名が違うと正しく読み込まれません。</h6>
      <h6 class="csv-sample" id="csv-sample">csvファイル作成例</h6>

      <%= form_tag( {action: :import}, multipart: true) do %>
        <%= file_field_tag :file, accept: '.csv'%>
        <div class="box-login">
          <%= submit_tag "一括登録"%>
        </div>
      <% end %>
  </div>
</div>
</header>
