<header class='top-page-header'>
  <div class='search-bar-contents'>
   <%= link_to image_tag('cuota-sample.png', class:"cuota-icon"), "/" %>
    <form class='search-form' action="#">
    <input class='input-box' placeholder='キーワードから探す'>
      <button class="search-button">
        <%= image_tag "ecalbt014_002.png", class:"search-icon" %>
      </button>
    </form>
  </div>

  <div class='user-contents'>
        <ul class='current-name'>
          <li class='school-name'><%= @nursing_teacher.school.name %></li><br>
          <li><%= link_to "#{current_nursing_teacher.last_name} 先生", edit_nursing_teacher_registration_path, class: "user-name" %></li>
          <li class='hello'><%= "こんにちは" %></li>
        </ul>
        <ul class='user-content'>  
          <li><%= link_to '生徒新規登録', new_student_path, class: "new-student" %></li>
          <li><%= link_to '管理者情報編集', edit_nursing_teacher_registration_path, class: "edit" %></li>
          <li><%= link_to 'ログアウト', destroy_nursing_teacher_session_path, method: :delete, class: "logout" %></li>  
        </ul>
  </div>

</header>


<%= form_with model: @student, url: edit_student_path(@student.id), local: true do |f| %>
  <div class="form-group">
    <%= f.label :student_id, '1年生' %>
      <%= f.collection_select(:student_id, Student.where(school_year: 1).select(:last_name,:first_name, :number), :id, :full_name, {include_blank:'選択してください'}, {class:"select-box", id:"student-name"}) %>
    <%= f.label :student_id, '2年生' %>
      <%= f.collection_select(:student_id, Student.where(school_year: 2).select(:last_name,:first_name, :number), :id, :full_name, {include_blank:'選択してください'}, {class:"select-box", id:"student-name"}) %>
    <%= f.label :student_id, '3年生' %>
      <%= f.collection_select(:student_id, Student.where(school_year: 3).select(:last_name,:first_name, :number), :id, :full_name, {include_blank:'選択してください'}, {class:"select-box", id:"student-name"}) %>
    <%= f.label :student_id, '4年生' %>
      <%= f.collection_select(:student_id, Student.where(school_year: 4).select(:last_name,:first_name, :number), :id, :full_name, {include_blank:'選択してください'}, {class:"select-box", id:"student-name"}) %>
    <%= f.label :student_id, '5年生' %>
      <%= f.collection_select(:student_id, Student.where(school_year: 5).select(:last_name,:first_name, :number), :id, :full_name, {include_blank:'選択してください'}, {class:"select-box", id:"student-name"}) %>
    <%= f.label :student_id, '6年生' %>
      <%= f.collection_select(:student_id, Student.where(school_year: 6).select(:last_name,:first_name, :number), :id, :full_name, {include_blank:'選択してください'}, {class:"select-box", id:"student-name"}) %>
  </div>
  <div class="box-edit">
    <%= f.submit "編集" %>
  </div>
<% end %>