<header class='top-page-header'>
  <div class='search-bar-contents'>
   <%= link_to image_tag('cuota-sample.png', class:"cuota-icon"), "/" %>
    <%= form_with url: search_students_path, class:'search-form', method: :get, local: true do |f| %>
      <%= f.text_field :keyword, class:'input-box', placeholder:'名前から探す' %>
      <%= f.submit "検索", class: "search-button" %>
    <% end %>
  </div>

  <div class='user-contents'>
        <ul class='current-name'>
          <li class='school-name'><%= @nursing_teacher.school.name %></li><br>
          <li><%= link_to "#{current_nursing_teacher.last_name} 先生", edit_nursing_teacher_registration_path, class: "user-name" %></li>
          <li class='hello'><%= "こんにちは" %></li>
        </ul>
        <ul class='user-content'>  
          <li><%= link_to '生徒新規登録', new_student_path, class: "new-student" %></li>
          <li><%= link_to '管理者情報編集', edit_nursing_teacher_registration_path, class: "edit" %></li>
          <li><%= link_to 'ログアウト', destroy_nursing_teacher_session_path, method: :delete, class: "logout" %></li>  
        </ul>
  </div>

</header>


<div class='student-list'>
  <div class="year-box">
  <ul class='year-list'> 
    <li class='school-year'>1年生</li>
    <div class='class-box'>
     <div class='school-class'>
      <ul class='class-list'>
       <li class='class-name'>1組</li>
       <li class='class-name'>2組</li>
       <li class='class-name'>3組</li>
      </ul>
      </div>
     <div class="class-list">  
        <div class='list'>
         <% @students.each do |student| %>
            <% if (student.school_year == 1) && (student.school_class == 1) %> 
             <%= link_to edit_student_path(student.id), class:'student-name' do %>
               <div class='student-info'>
                 <h4 class='student-name'>
                     <%= student.full_name %>
                 </h4>
               </div>
             <% end %> 
            <% end %>
         <% end %>
        </div>
        <div class='list'>
         <% @students.each do |student| %>
            <% if student.school_year == 1 && student.school_class == 2 %>
             <%= link_to edit_student_path(student.id), class:'student-name' do %>
               <div class='student-info'>
                 <h4 class='student-name'>
                     <%= student.full_name %>
                 </h4>
               </div>
             <% end %> 
            <% end %>
         <% end %>
        </div>
        <div class='list'>
         <% @students.each do |student| %>
            <% if student.school_year == 1 && student.school_class == 3 %>
             <%= link_to edit_student_path(student.id), class:'student-name' do %>
               <div class='student-info'>
                 <h4 class='student-name'>
                     <%= student.full_name %>
                 </h4>
               </div>
             <% end %> 
            <% end %>
         <% end %>
        </div>
      </div>
    </ul>
    </div>
    <div class="year-box">
    <ul class='year-list'> 
    <li class='school-year'>2年生</li>
    <div class='class-box'>
     <div class='school-class'>
      <ul class='class-list'>
       <li class='class-name'>1組</li>
       <li class='class-name'>2組</li>
       <li class='class-name'>3組</li>
      </ul>
      </div>
     <div class="class-list">  
        <div class='list'>
         <% @students.each do |student| %>
            <% if (student.school_year == 2) && (student.school_class == 1) %> 
             <%= link_to edit_student_path(student.id), class:'student-name' do %>
               <div class='student-info'>
                 <h4 class='student-name'>
                     <%= student.full_name %>
                 </h4>
               </div>
             <% end %> 
            <% end %>
         <% end %>
        </div>
        <div class='list'>
         <% @students.each do |student| %>
            <% if student.school_year == 2 && student.school_class == 2 %>
             <%= link_to edit_student_path(student.id), class:'student-name' do %>
               <div class='student-info'>
                 <h4 class='student-name'>
                     <%= student.full_name %>
                 </h4>
               </div>
             <% end %> 
            <% end %>
         <% end %>
        </div>
        <div class='list'>
         <% @students.each do |student| %>
            <% if student.school_year == 2 && student.school_class == 3 %>
             <%= link_to edit_student_path(student.id), class:'student-name' do %>
               <div class='student-info'>
                 <h4 class='student-name'>
                     <%= student.full_name %>
                 </h4>
               </div>
             <% end %> 
            <% end %>
         <% end %>
        </div>
      </div>
      </ul>
    </div>
    <div class="year-box">
    <ul class='year-list'> 
    <li class='school-year'>3年生</li>
    <div class='class-box'>
     <div class='school-class'>
      <ul class='class-list'>
       <li class='class-name'>1組</li>
       <li class='class-name'>2組</li>
       <li class='class-name'>3組</li>
      </ul>
      </div>
     <div class="class-list">  
        <div class='list'>
         <% @students.each do |student| %>
            <% if (student.school_year == 3) && (student.school_class == 1) %> 
             <%= link_to edit_student_path(student.id), class:'student-name' do %>
               <div class='student-info'>
                 <h4 class='student-name'>
                     <%= student.full_name %>
                 </h4>
               </div>
             <% end %> 
            <% end %>
         <% end %>
        </div>
        <div class='list'>
         <% @students.each do |student| %>
            <% if student.school_year == 3 && student.school_class == 2 %>
             <%= link_to edit_student_path(student.id), class:'student-name' do %>
               <div class='student-info'>
                 <h4 class='student-name'>
                     <%= student.full_name %>
                 </h4>
               </div>
             <% end %> 
            <% end %>
         <% end %>
        </div>
        <div class='list'>
         <% @students.each do |student| %>
            <% if student.school_year == 3 && student.school_class == 3 %>
             <%= link_to edit_student_path(student.id), class:'student-name' do %>
               <div class='student-info'>
                 <h4 class='student-name'>
                     <%= student.full_name %>
                 </h4>
               </div>
             <% end %> 
            <% end %>
         <% end %>
        </div>
      </div>
      </ul>
    </div>
    <div class="year-box">
    <ul class='year-list'> 
    <li class='school-year'>4年生</li>
    <div class='class-box'>
     <div class='school-class'>
      <ul class='class-list'>
       <li class='class-name'>1組</li>
       <li class='class-name'>2組</li>
       <li class='class-name'>3組</li>
      </ul>
      </div>
     <div class="class-list">  
        <div class='list'>
         <% @students.each do |student| %>
            <% if (student.school_year == 4) && (student.school_class == 1) %> 
             <%= link_to edit_student_path(student.id), class:'student-name' do %>
               <div class='student-info'>
                 <h4 class='student-name'>
                     <%= student.full_name %>
                 </h4>
               </div>
             <% end %> 
            <% end %>
         <% end %>
        </div>
        <div class='list'>
         <% @students.each do |student| %>
            <% if student.school_year == 4 && student.school_class == 2 %>
             <%= link_to edit_student_path(student.id), class:'student-name' do %>
               <div class='student-info'>
                 <h4 class='student-name'>
                     <%= student.full_name %>
                 </h4>
               </div>
             <% end %> 
            <% end %>
         <% end %>
        </div>
        <div class='list'>
         <% @students.each do |student| %>
            <% if student.school_year == 4 && student.school_class == 3 %>
             <%= link_to edit_student_path(student.id), class:'student-name' do %>
               <div class='student-info'>
                 <h4 class='student-name'>
                     <%= student.full_name %>
                 </h4>
               </div>
             <% end %> 
            <% end %>
         <% end %>
        </div>
      </div>
      </ul>
    </div>
    <div class="year-box">
    <ul class='year-list'> 
    <li class='school-year'>5年生</li>
    <div class='class-box'>
     <div class='school-class'>
      <ul class='class-list'>
       <li class='class-name'>1組</li>
       <li class='class-name'>2組</li>
       <li class='class-name'>3組</li>
      </ul>
      </div>
     <div class="class-list">  
        <div class='list'>
         <% @students.each do |student| %>
            <% if (student.school_year == 5) && (student.school_class == 1) %> 
             <%= link_to edit_student_path(student.id), class:'student-name' do %>
               <div class='student-info'>
                 <h4 class='student-name'>
                     <%= student.full_name %>
                 </h4>
               </div>
             <% end %> 
            <% end %>
         <% end %>
        </div>
        <div class='list'>
         <% @students.each do |student| %>
            <% if student.school_year == 5 && student.school_class == 2 %>
             <%= link_to edit_student_path(student.id), class:'student-name' do %>
               <div class='student-info'>
                 <h4 class='student-name'>
                     <%= student.full_name %>
                 </h4>
               </div>
             <% end %> 
            <% end %>
         <% end %>
        </div>
        <div class='list'>
         <% @students.each do |student| %>
            <% if student.school_year == 5 && student.school_class == 3 %>
             <%= link_to edit_student_path(student.id), class:'student-name' do %>
               <div class='student-info'>
                 <h4 class='student-name'>
                     <%= student.full_name %>
                 </h4>
               </div>
             <% end %> 
            <% end %>
         <% end %>
        </div>
      </div>
      </ul>
    </div>
    <div class="year-box">
    <ul class='year-list'> 
    <li class='school-year'>6年生</li>
    <div class='class-box'>
     <div class='school-class'>
      <ul class='class-list'>
       <li class='class-name'>1組</li>
       <li class='class-name'>2組</li>
       <li class='class-name'>3組</li>
      </ul>
      </div>
     <div class="class-list">  
        <div class='list'>
         <% @students.each do |student| %>
            <% if (student.school_year == 6) && (student.school_class == 1) %> 
             <%= link_to edit_student_path(student.id), class:'student-name' do %>
               <div class='student-info'>
                 <h4 class='student-name'>
                     <%= student.full_name %>
                 </h4>
               </div>
             <% end %> 
            <% end %>
         <% end %>
        </div>
        <div class='list'>
         <% @students.each do |student| %>
            <% if student.school_year == 6 && student.school_class == 2 %>
             <%= link_to edit_student_path(student.id), class:'student-name' do %>
               <div class='student-info'>
                 <h4 class='student-name'>
                     <%= student.full_name %>
                 </h4>
               </div>
             <% end %> 
            <% end %>
         <% end %>
        </div>
        <div class='list'>
         <% @students.each do |student| %>
            <% if student.school_year == 6 && student.school_class == 3 %>
             <%= link_to edit_student_path(student.id), class:'student-name' do %>
               <div class='student-info'>
                 <h4 class='student-name'>
                     <%= student.full_name %>
                 </h4>
               </div>
             <% end %> 
            <% end %>
         <% end %>
        </div>
      </div>
      </ul>
    </div>
</div>