<%= render "shared/canvas", resource: @student%>

<header class='top-page-header'>
  <div class='search-bar-contents'>
    <%= link_to image_tag('cuota-sample.png', class:"cuota-icon"), "/" %>
  </div>

</header>
<%= form_with model: @student, url: reset_third_year_schools_path, local: true do |f| %>
<div class="btn-group-top">
  <div>
    <h2>3年生</h2>
  </div>
  <div class="change-class-select">
      <%= f.collection_select(:school_class_id, SchoolClass.all, :id, :name, {include_blank:'変更先のクラスを選択してください'}, {class:"select-box", id:"school-name"}) %>
  </div>
</div>

  
  <div class='student-list'>
    <div class='class-box-change'>
      <ul class='class-list'>
       <li class='class-name-change'>1組</li>
      </ul>
     <div class="class-list">  
        <div class='list-class-change'>
          
              <%= f.collection_check_boxes(:student_ids, Student.where(school_id: "#{@nursing_teacher.school_id}", school_year_id: 3, school_class_id: 1).order(:number), :id, :full_name, include_hidden: false ) do |b| %>
                <%= b.label { b.check_box + b.text } %>
              <% end %>

        </div>
     </div>
    </div>
      <div class='class-box-change'>
        <ul class='class-list'>
          <li class='class-name-change'>2組</li>
        </ul>
     <div class="class-list">  
        <div class='list-class-change'>
         
              <%= f.collection_check_boxes(:student_ids, Student.where(school_id: "#{@nursing_teacher.school_id}", school_year_id: 3, school_class_id: 2).order(:number), :id, :full_name, include_hidden: false ) do |b| %>
                <%= b.label { b.check_box + b.text } %>
              <% end %>
              
        </div>
      </div>
    </div>
    <div class='class-box-change'>
      <ul class='class-list'>
       <li class='class-name-change'>3組</li>
      </ul>
     <div class="class-list">  
        <div class='list-class-change'>
         
              <%= f.collection_check_boxes(:student_ids, Student.where(school_id: "#{@nursing_teacher.school_id}", school_year_id: 3, school_class_id: 3).order(:number), :id, :full_name, include_hidden: false ) do |b| %>
                <%= b.label { b.check_box + b.text } %>
              <% end %>
         
        </div>
      </div>
    </div>
      <div class='class-box-change'>
          <ul class='class-list-change'>
            <li class='class-name-change'>チェック一覧</li>
          </ul>
     <div class="class-list">  
        <div class='list-class-change-box'>


              
        </div>
        <div class="class-update">
          <%= f.submit "更新" %>
        </div>              
      <% end %>
      </div>
    </div>
    <div class="year-box">
        <div class='class-box'>
        <div class='school-class'>
        </div>
        </div>
    </div>
</div>
