<script>
  window.addEventListener('load', function(){
    const pullDownButton = document.getElementById("class-change")
    
    pullDownButton.addEventListener('mouseover', function(){
    console.log("mouseover OK")
    })

    pullDownButton.addEventListener('mouseout', function(){
    console.log("mouseout OK")
    })

    pullDownButton.addEventListener('click', function() {
    console.log("click OK")
    })
  })
</script>

<% unless @nursing_teacher.image.attached? %>
  <canvas id="canvas"></canvas>
<% end %>

<%= image_tag @nursing_teacher.image, class: 'image-icon' if @nursing_teacher.image.attached? %>

<header class='top-page-header'>
  <div class='search-bar-contents'>
    <%= link_to image_tag('cuota-sample.png', class:"cuota-icon"), "/" %>
    <%= form_with url: search_students_path, class:'search-form', method: :get, local: true do |f| %>
      <%= f.text_field :keyword, class:'input-box', placeholder:'名前から探す' %>
      <%= f.submit "検索", class: "search-button" %>
    <% end %>
  </div>

  <div class='user-contents'>
        <ul class='current-name'>
          <li class='school-name'><%= @nursing_teacher.school.name %></li><br>
          <li><%= link_to "#{current_nursing_teacher.last_name} 先生", edit_nursing_teacher_registration_path, class: "user-name" %></li>
          <li class='hello'><%= "こんにちは" %></li>
        </ul>
        <div class="btn-group" > 
          <button type="button" class="btn btn-secondary"><%= link_to '生徒新規登録', new_student_path, class: "new-student" %></button>
          <button type="button" class="btn btn-secondary"><%= link_to '管理者情報編集', edit_nursing_teacher_registration_path, class: "edit" %></button>
        <div class="btn-group-year" role="group">
          <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          クラス一括更新
          </button>
            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
              <a class="dropdown-item" href="schools/class_change_one_year">1年生</a>
              <a class="dropdown-item" href="schools/class_change_second_year">2年生</a>
              <a class="dropdown-item" href="schools/class_change_third_year">3年生</a>
              <a class="dropdown-item" href="schools/class_change_fourth_year">4年生</a>
              <a class="dropdown-item" href="schools/class_change_fifth_year">5年生</a>
              <a class="dropdown-item" href="schools/class_change_six_year">6年生</a>
            </div>
        </div>
          <button type="button" class="btn btn-secondary"><%= link_to 'ログアウト', destroy_nursing_teacher_session_path, method: :delete, class: "logout" %></button>
        </div>
  </div>

</header>



<div class='student-list'>
  <div class="year-box">
  <ul class='year-list'> 
    <li class='school-year'>1年生</li>
    <div class='class-box'>
     <div class='school-class'>
      <ul class='class-list'>
       <li class='class-name'>1組</li>
       <li class='class-name'>2組</li>
       <li class='class-name'>3組</li>
      </ul>
      </div>
     <div class="class-list">  
        <div class='list'>
         <% @students.each do |student| %>
            <% if (student.school_year_id == 1) && (student.school_class_id == 1) %> 
             <%= link_to edit_student_path(student.id), class:'student-name' do %>
               <div class='student-info'>
                 <h4 class='student-name'>
                     <%= student.full_name %>
                 </h4>
               </div>
             <% end %> 
            <% end %>
         <% end %>
        </div>
        <div class='list'>
         <% @students.each do |student| %>
            <% if student.school_year_id == 1 && student.school_class_id == 2 %>
             <%= link_to edit_student_path(student.id), class:'student-name' do %>
               <div class='student-info'>
                 <h4 class='student-name'>
                     <%= student.full_name %>
                 </h4>
               </div>
             <% end %> 
            <% end %>
         <% end %>
        </div>
        <div class='list'>
         <% @students.each do |student| %>
            <% if student.school_year_id == 1 && student.school_class_id == 3 %>
             <%= link_to edit_student_path(student.id), class:'student-name' do %>
               <div class='student-info'>
                 <h4 class='student-name'>
                     <%= student.full_name %>
                 </h4>
               </div>
             <% end %> 
            <% end %>
         <% end %>
        </div>
      </div>
    </ul>
    </div>
    <div class="year-box">
    <ul class='year-list'> 
    <li class='school-year'>2年生</li>
    <div class='class-box'>
     <div class='school-class'>
      <ul class='class-list'>
       <li class='class-name'>1組</li>
       <li class='class-name'>2組</li>
       <li class='class-name'>3組</li>
      </ul>
      </div>
     <div class="class-list">  
        <div class='list'>
         <% @students.each do |student| %>
            <% if (student.school_year_id == 2) && (student.school_class_id == 1) %> 
             <%= link_to edit_student_path(student.id), class:'student-name' do %>
               <div class='student-info'>
                 <h4 class='student-name'>
                     <%= student.full_name %>
                 </h4>
               </div>
             <% end %> 
            <% end %>
         <% end %>
        </div>
        <div class='list'>
         <% @students.each do |student| %>
            <% if student.school_year_id == 2 && student.school_class_id == 2 %>
             <%= link_to edit_student_path(student.id), class:'student-name' do %>
               <div class='student-info'>
                 <h4 class='student-name'>
                     <%= student.full_name %>
                 </h4>
               </div>
             <% end %> 
            <% end %>
         <% end %>
        </div>
        <div class='list'>
         <% @students.each do |student| %>
            <% if student.school_year_id == 2 && student.school_class_id == 3 %>
             <%= link_to edit_student_path(student.id), class:'student-name' do %>
               <div class='student-info'>
                 <h4 class='student-name'>
                     <%= student.full_name %>
                 </h4>
               </div>
             <% end %> 
            <% end %>
         <% end %>
        </div>
      </div>
      </ul>
    </div>
    <div class="year-box">
    <ul class='year-list'> 
    <li class='school-year'>3年生</li>
    <div class='class-box'>
     <div class='school-class'>
      <ul class='class-list'>
       <li class='class-name'>1組</li>
       <li class='class-name'>2組</li>
       <li class='class-name'>3組</li>
      </ul>
      </div>
     <div class="class-list">  
        <div class='list'>
         <% @students.each do |student| %>
            <% if (student.school_year_id == 3) && (student.school_class_id == 1) %> 
             <%= link_to edit_student_path(student.id), class:'student-name' do %>
               <div class='student-info'>
                 <h4 class='student-name'>
                     <%= student.full_name %>
                 </h4>
               </div>
             <% end %> 
            <% end %>
         <% end %>
        </div>
        <div class='list'>
         <% @students.each do |student| %>
            <% if student.school_year_id == 3 && student.school_class_id == 2 %>
             <%= link_to edit_student_path(student.id), class:'student-name' do %>
               <div class='student-info'>
                 <h4 class='student-name'>
                     <%= student.full_name %>
                 </h4>
               </div>
             <% end %> 
            <% end %>
         <% end %>
        </div>
        <div class='list'>
         <% @students.each do |student| %>
            <% if student.school_year_id == 3 && student.school_class_id == 3 %>
             <%= link_to edit_student_path(student.id), class:'student-name' do %>
               <div class='student-info'>
                 <h4 class='student-name'>
                     <%= student.full_name %>
                 </h4>
               </div>
             <% end %> 
            <% end %>
         <% end %>
        </div>
      </div>
      </ul>
    </div>
    <div class="year-box">
    <ul class='year-list'> 
    <li class='school-year'>4年生</li>
    <div class='class-box'>
     <div class='school-class'>
      <ul class='class-list'>
       <li class='class-name'>1組</li>
       <li class='class-name'>2組</li>
       <li class='class-name'>3組</li>
      </ul>
      </div>
     <div class="class-list">  
        <div class='list'>
         <% @students.each do |student| %>
            <% if (student.school_year_id == 4) && (student.school_class_id == 1) %> 
             <%= link_to edit_student_path(student.id), class:'student-name' do %>
               <div class='student-info'>
                 <h4 class='student-name'>
                     <%= student.full_name %>
                 </h4>
               </div>
             <% end %> 
            <% end %>
         <% end %>
        </div>
        <div class='list'>
         <% @students.each do |student| %>
            <% if student.school_year_id == 4 && student.school_class_id == 2 %>
             <%= link_to edit_student_path(student.id), class:'student-name' do %>
               <div class='student-info'>
                 <h4 class='student-name'>
                     <%= student.full_name %>
                 </h4>
               </div>
             <% end %> 
            <% end %>
         <% end %>
        </div>
        <div class='list'>
         <% @students.each do |student| %>
            <% if student.school_year_id == 4 && student.school_class_id == 3 %>
             <%= link_to edit_student_path(student.id), class:'student-name' do %>
               <div class='student-info'>
                 <h4 class='student-name'>
                     <%= student.full_name %>
                 </h4>
               </div>
             <% end %> 
            <% end %>
         <% end %>
        </div>
      </div>
      </ul>
    </div>
    <div class="year-box">
    <ul class='year-list'> 
    <li class='school-year'>5年生</li>
    <div class='class-box'>
     <div class='school-class'>
      <ul class='class-list'>
       <li class='class-name'>1組</li>
       <li class='class-name'>2組</li>
       <li class='class-name'>3組</li>
      </ul>
      </div>
     <div class="class-list">  
        <div class='list'>
         <% @students.each do |student| %>
            <% if (student.school_year_id == 5) && (student.school_class_id == 1) %> 
             <%= link_to edit_student_path(student.id), class:'student-name' do %>
               <div class='student-info'>
                 <h4 class='student-name'>
                     <%= student.full_name %>
                 </h4>
               </div>
             <% end %> 
            <% end %>
         <% end %>
        </div>
        <div class='list'>
         <% @students.each do |student| %>
            <% if student.school_year_id == 5 && student.school_class_id == 2 %>
             <%= link_to edit_student_path(student.id), class:'student-name' do %>
               <div class='student-info'>
                 <h4 class='student-name'>
                     <%= student.full_name %>
                 </h4>
               </div>
             <% end %> 
            <% end %>
         <% end %>
        </div>
        <div class='list'>
         <% @students.each do |student| %>
            <% if student.school_year_id == 5 && student.school_class_id == 3 %>
             <%= link_to edit_student_path(student.id), class:'student-name' do %>
               <div class='student-info'>
                 <h4 class='student-name'>
                     <%= student.full_name %>
                 </h4>
               </div>
             <% end %> 
            <% end %>
         <% end %>
        </div>
      </div>
      </ul>
    </div>
    <div class="year-box">
    <ul class='year-list'> 
    <li class='school-year'>6年生</li>
    <div class='class-box'>
     <div class='school-class'>
      <ul class='class-list'>
       <li class='class-name'>1組</li>
       <li class='class-name'>2組</li>
       <li class='class-name'>3組</li>
      </ul>
      </div>
     <div class="class-list">  
        <div class='list'>
         <% @students.each do |student| %>
            <% if (student.school_year_id == 6) && (student.school_class_id == 1) %> 
             <%= link_to edit_student_path(student.id), class:'student-name' do %>
               <div class='student-info'>
                 <h4 class='student-name'>
                     <%= student.full_name %>
                 </h4>
               </div>
             <% end %> 
            <% end %>
         <% end %>
        </div>
        <div class='list'>
         <% @students.each do |student| %>
            <% if student.school_year_id == 6 && student.school_class_id == 2 %>
             <%= link_to edit_student_path(student.id), class:'student-name' do %>
               <div class='student-info'>
                 <h4 class='student-name'>
                     <%= student.full_name %>
                 </h4>
               </div>
             <% end %> 
            <% end %>
         <% end %>
        </div>
        <div class='list'>
         <% @students.each do |student| %>
            <% if student.school_year_id == 6 && student.school_class_id == 3 %>
             <%= link_to edit_student_path(student.id), class:'student-name' do %>
               <div class='student-info'>
                 <h4 class='student-name'>
                     <%= student.full_name %>
                 </h4>
               </div>
             <% end %> 
            <% end %>
         <% end %>
        </div>
      </div>
      </ul>
    </div>
</div>


<script>
var livePatern = {
  canvas: null,
  context: null,
  cols: 0,
  rows: 0,
  colors: [252, 251, 249, 248, 241, 240],
  triangleColors: [],
  destColors: [],
  
  init: function(){
    this.canvas = document.getElementById('canvas');
    this.context = this.canvas.getContext('2d');
    this.cols = Math.floor(document.body.clientWidth / 24);
    this.rows = Math.floor(document.body.clientHeight / 24) + 1;
    
    this.canvas.width = document.body.clientWidth;
    this.canvas.height = document.body.clientHeight;
    
    this.drawBackground();
    this.animate();
  },
  
  drawTriangle: function(x, y, color, inverted){
    inverted = inverted == undefined ? false : inverted;

    this.context.beginPath();
    this.context.moveTo(x, y);
    this.context.lineTo(inverted ? x - 22 : x + 22, y + 11);
    this.context.lineTo(x, y + 22);
    this.context.fillStyle = "rgb("+color+","+color+","+color+")";
    this.context.fill();
    this.context.closePath();
  },
  
  getColor: function(){    
    return this.colors[(Math.floor(Math.random() * 6))];
  },
  
  drawBackground: function(){
    var eq = null;
    var x = this.cols;
    var destY = 0;
    var color, y;
    
    while(x--){
      eq = x % 2;
      y = this.rows;

      while(y--){
        destY = Math.round((y-0.5) * 24);

        this.drawTriangle(x * 24 + 2, eq == 1 ? destY : y * 24, this.getColor());
        this.drawTriangle(x * 24, eq == 1 ? destY  : y * 24, this.getColor(), true);
      }
    }
  },
  
  animate: function(){
    var me = this;

    var x = Math.floor(Math.random() * this.cols);
    var y = Math.floor(Math.random() * this.rows);
    var eq = x % 2;

    if (eq == 1) {
      me.drawTriangle(x * 24, Math.round((y-0.5) * 24) , this.getColor(), true);
    } else {
      me.drawTriangle(x * 24 + 2, y * 24, this.getColor());
    }

    setTimeout(function(){    
      me.animate.call(me);
    }, 10);
  },
};

!function(){livePatern.init();}()
</script>